.prograssivebar-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* space between boxes */
  max-width: 90%; /* optional, for layout control */
 margin-left: 50px;
 margin-top: 20px;
  padding: 20px;
}
.progressive-bar{
  background-color: #2d06dc58;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.label-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
}